@keyframes rotatemoji {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-3deg);}
    50% { transform: rotate(3deg); }
    75% { transform: rotate(-3deg); }
    100% { transform: rotate(0deg); }
}

body::-webkit-scrollbar {
    display: none;
}

body {
    overflow: auto;
    background-color: #000000 !important;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    font-size: 12px;
    color: #ffffff !important;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

a:hover {
    text-decoration: none;
}

iframe {
    display: block;
    margin: 0 auto;
}

#headtext{
    text-align: center;
    font-size: 40px;
    padding-bottom: 15px;
    padding-top: 20px;
}

#contentgrid {
    text-align: center;
    font-size: 15px;
}

#activities * {
    background-color: beige !important;
    background-size: 120%;
    color: black;
    font-weight: bold;
}

#titles {
    padding-top: 10px;
}

#detail {
    font-size: 10px;
}

#icons {
    padding-bottom: 10px;
}

.emoji {
    font-size: 40px;
}

.subtitle {
    font-size: 15px;
    padding-bottom: 10px;
    font-weight: 70;
}

#endtitles {
    padding-bottom: 10px;
}

.emoji:hover {
    animation: rotatemoji 0.5s linear;
}

.subtitle span {
    font-size: 10px;
}

#enddiv {
    padding-bottom: 100px;
}








#video {
    padding-top: 30px;
    padding-bottom: 50px;
}

#vidframe {
    border: 1px solid beige;
    border-radius: 1%;
    transform: scale(1.1);
}

#mindmap {
    padding-top: 30px;
    padding-bottom: 40px;
}

#mindmap > img {
    border: 5px solid beige;
    border-radius: 3%;
    width: 190vh;
    height: auto;
}

#reflections {
    padding-bottom: 50px;
}

#reflectiontext {
    font-size: 13px;
    text-align: justify;
    padding-left: 16%;
    padding-right: 16%;
}